*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #eee;
}


header{
    width: 100%;
    background-color: #ffe600;
    padding: 16px;
}

.navbar{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
}

.w-auto{
    width: auto;
}

.align-items-center{
    align-items: center;
}

main{
    max-width: 1024px;
    align-items: center;
    margin: 0 auto;
}

h2{
   margin: 16px; 
   color: #999;
   font-size: 14px;
   font-weight: lighter;
}

section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
    padding: 16px 16px;
    border-radius: 4px;
}

section img{
    width: 180px;
    margin: 16px;
    border-radius: 4px;

}